{% extends "ipsum_generator/base.html" %}
{% block content %}

<header class="text-center">
    <h1>About Cricket Ipsum</h1>
</header>

<main>
    <h2 class="pt-3">Come on, own up. Who's responsible for this?</h2>
    <p class="pt-3">
        This website was created as a learning exercise by <a href="https://github.com/rogfrich" target="_blank">Rich
            Cairns</a>. What
        happened was, my friend Craig showed me the excellent <a href="https://hipsum.co/" target="_blank">Hipster
            Ipsum</a>, and I
        thought it would be fun to build something similar.
    </p>
    <h2 class="pt-3">OK, but why cricket?</h2>
    <p class="pt-3">
        I wanted a source of funny words. I don't know much about cricket, but I do know that it has a unique and rich
        vocabulary... so here we are. Most of the words on the list were found on Google. I don't know what they all
        mean.
    </p>
    <h2 class="pt-3">It's a bit bare bones...</h2>
    <p class="pt-3">
        Yep, although I prefer "work in progress". Still to do, in no particular order:
    </p>
    <ul>
        <li>
            Allow the user to choose how many paragraphs of placeholder text they want.
        </li>
        <li>
            Add some logging to see how much the site gets used.
        </li>
        <li>
            Make the styling a bit more exciting.
        </li>
        <li>
            Add more crickety phrases to randomly select from.
        </li>
        <li>
            Provide placeholder text over an API.
        </li>
        <li>
            Add some sort of header image. If anyone has an open-source-licenced old-timey picture of a cricket match
            (I'm thinking "huge moustaches" here) then I'd love to get a copy.
        </li>
    </ul>


</main>
{% endblock %}